<button type="submit" value="Save" class="btn btn-teal btn-sm">
    <i class="bi bi-save2-fill"></i> Save Changes
</button>
<a asp-action="Index" class="btn btn-sm btn-primary">
    <i class="bi bi-arrow-90deg-left"></i> Back to List
</a>