<button type="submit" value="Save" class="btn btn-teal btn-sm">
    <i class="ph-floppy-disk"></i>
    <span class="d-none d-sm-inline ms-1">Save Changes</span>
</button>
<a asp-action="Index" class="btn btn-sm btn-primary">
    <i class="ph-arrow-u-down-left"></i>
    <span class="d-none d-sm-inline ms-1">Back to List</span>
</a>
