<a asp-action="Create" class="btn btn-teal btn-sm">
    <i class="ph-plus"></i>
    <span class="d-none d-sm-inline ms-1">Add New</span>
</a>
<a asp-action="Import" class="btn btn-sm btn-indigo" data-bs-toggle="modal" data-bs-target="#modal_uploadExcel">
    <i class="ph-upload"></i>
    <span class="d-none d-sm-inline ms-1">Import</span>
</a>
<a asp-action="Export" class="btn  btn-sm btn-secondary">
    <i class="ph-download-simple"></i>
    <span class="d-none d-sm-inline ms-1">Downlaod</span>
</a>