@using Insya.Localization;
@model NEXT_BMS.Models.Menu
<form asp-action="Create">
    @await Html.PartialAsync("Controls/_Common")
    <div class="card">
        <div class="card-header bg-light header-elements-inline">
            <h5 class="card-title">
                @Html.Raw(Localization.Get(ViewData["action"].ToString())) | @Html.Raw(Localization.Get(ViewData["pageName"].ToString()))
            </h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <label asp-for="MenuCategoryId" class="form-label"></label>
                        <select asp-for="MenuCategoryId" class="form-control select-search" asp-items="ViewBag.MenuCategoryId"><option value="">---Select---</option></select>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Title" class="form-label"></label>
                        <input asp-for="Title" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Controller" class="form-label"></label>
                        <input asp-for="Controller" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Controller" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Action" class="form-label"></label>
                        <input asp-for="Action" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Action" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsMenu" /> @Html.DisplayNameFor(model => model.IsMenu)
                        </label>
                    </div>
                    <div class="mb-3 form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsTraceable" /> @Html.DisplayNameFor(model => model.IsTraceable)
                        </label>
                    </div>
                    <input type="hidden" asp-for="IsActive" value="True" />
                </div>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("js/_select2");}
    @{await Html.RenderPartialAsync("js/_ValidationScriptsPartial");}
    <script type="text/javascript">
    </script>
}
