@using Insya.Localization
<div class="btn-group btn-group-sm" role="group" aria-label="First group">
    <a href="@Url.Action("ItemRequests", @ViewData["pageName"].ToString())" class="btn btn-info mr-1">
        <span class="icon-arrow-left16"></span> <span class="hidden-xs">@Html.Raw(Localization.Get("backtolist"))</span>
    </a>
</div>






