@using Insya.Localization;
@model NEXT_BMS.Models.BuildingEmployee
<form asp-action="Edit">
    @await Html.PartialAsync("Controls/_Common")
    <div class="card">
        <div class="card-header bg-light header-elements-inline">
            <h5 class="card-title">
                @Html.Raw(Localization.Get(ViewData["action"].ToString())) | @Html.Raw(Localization.Get(ViewData["pageName"].ToString()))
            </h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="FullName" class="form-label"></label>
                        <input asp-for="FullName" class="form-control" autocomplete="off" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="form-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" autocomplete="off" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BuildingId" class="form-label"></label>
                        <select asp-for="BuildingId" class="form-control select" asp-items="ViewBag.BuildingId"><option value="">---Select---</option></select>
                        <span asp-validation-for="BuildingId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserId" class="form-label"></label>
                        <select asp-for="UserId" class="form-control select" asp-items="ViewBag.UserId"><option value="">---Select---</option></select>
                        <span asp-validation-for="UserId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmployeeTypeId" class="form-label"></label>
                        <select asp-for="EmployeeTypeId" class="form-control select" asp-items="ViewBag.EmployeeTypeId"><option value="">---Select---</option></select>
                        <span asp-validation-for="EmployeeTypeId" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                        </label>
                    </div>
                    <div class="mb-3 form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("js/_select2");}
    @{await Html.RenderPartialAsync("js/_ValidationScriptsPartial");}
    <script type="text/javascript">
    </script>
}
