@using Insya.Localization;
@model NEXT_BMS.Models.MenuCategory
<form asp-action="Create">
    @await Html.PartialAsync("Controls/_Common")
    <div class="card">
        <div class="card-header bg-light header-elements-inline">
            <h5 class="card-title">
                @Html.Raw(Localization.Get(ViewData["action"].ToString())) | @Html.Raw(Localization.Get(ViewData["pageName"].ToString()))
            </h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ApplicationId" class="form-label"></label>
                        <select asp-for="ApplicationId" class="form-control select-search" asp-items="ViewBag.ApplicationId"><option value="">---Select---</option></select>
                    </div>
                    <div class="mb-3">
                        <label asp-for="MenuTypeId" class="form-label"></label>
                        <select asp-for="MenuTypeId" class="form-control select-search" asp-items="ViewBag.MenuTypeId"><option value="">---Select---</option></select>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Icon" class="form-label"></label>
                        <input asp-for="Icon" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Icon" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ParentId" class="form-label"></label>
                        <select asp-for="ParentId" class="form-control select-search" asp-items="ViewBag.ParentId"><option value="">---Select---</option></select>
                    </div>
                    <div class="mb-3">
                        <label asp-for="OrderNumber" class="form-label"></label>
                        <input asp-for="OrderNumber" class="form-control" autocomplete="off" />
                        <span asp-validation-for="OrderNumber" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="IsActive" value="True" />
                </div>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("js/_select2");}
    @{await Html.RenderPartialAsync("js/_ValidationScriptsPartial");}
    <script type="text/javascript">
    </script>
}
