@using Insya.Localization;
@model NEXT_BMS.Models.FloorPrice
<form asp-action="Create">
    @await Html.PartialAsync("Controls/_Common")
    <div class="card">
        <div class="card-header bg-light header-elements-inline py-2">
            <h5 class="card-title">
                @Html.Raw(Localization.Get(ViewData["action"].ToString())) | @Html.Raw(Localization.Get(ViewData["pageName"].ToString()))
            </h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <label asp-for="FloorId" class="form-label"></label>
                        <select asp-for="FloorId" class="form-control select-search" asp-items="ViewBag.FloorId"><option value="">---Select---</option></select>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Price" class="form-label"></label>
                        <input asp-for="Price" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="AppliedDate" class="form-label"></label>
                        <input asp-for="AppliedDate" class="form-control" autocomplete="off" />
                        <span asp-validation-for="AppliedDate" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                        </label>
                    </div>
                    <input type="hidden" asp-for="IsActive" value="True" />
                </div>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("js/_date");}
    @{await Html.RenderPartialAsync("js/_select2");}
    @{await Html.RenderPartialAsync("js/_ValidationScriptsPartial");}
    <script type="text/javascript">
        let calendar = $.calendars.instance('ethiopian', 'am');
        let gcalendar = $.calendars.instance('gregorian', 'en');
        $('#AppliedDate').calendarsPicker({
            calendar: gcalendar
        });
    </script>
}
