<section id="service-details" class="service-details section py-0">
    <div class="services-list ">
        <a href="#" class="active"><span class="bi bi-note- me-1"></span> Articles</a>
        <a href="#">Services</a>
        <a href="#">Offices</a>
        <a href="#">Contacts</a>
        <a href="#">Vacancy</a>
        <a href="#">News</a>
        <a href="#">Gallery  </a>
    </div>
</section>