<nav id="navmenu" class="d-flex w-100">
    <ul class="d-flex ms-auto list-unstyled mb-0 gap-4">
        <li><a class="custom-menu-link" asp-action="Index" asp-controller="Home">Home</a></li>
        <li><a class="custom-menu-link" asp-action="Index" asp-controller="BuildingList">Buildings</a></li>
        
        <li><a class="custom-menu-link" asp-action="Index" asp-controller="BuildingRequests">Create Building</a></li>
        <li><a class="custom-menu-link" asp-action="Index" asp-controller="Shops">Shops</a></li>
        <li><a class="custom-menu-link" asp-action="Contact" asp-controller="Home">Contact</a></li>

        <li>
            <a asp-action="GuestLogIn" asp-controller="Account" class="btn-brand-teal">
                Log In
            </a>
        </li>
       
    </ul>

    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
</nav>
<style>
   

    .custom-menu-link {
        color: white;
        text-decoration: none;
        transition: color 0.3s ease;
    }

        .custom-menu-link:hover {
            color: rgb(210, 180, 140);
        }

    .custom-login-btn:hover {
        background-color: rgb(210, 180, 140); 
        color: #000; 
        border-color: rgb(210, 180, 140);
        transition: all 0.3s ease;
    }
</style>