@* <section id="service-details" class="service-details section py-0">
    <div class="services-list ">
        <a href="#" class="active">Articles</a>
        <a href="#">Organizations</a>
        <a href="#">Administrations</a>
        <a href="#">Gallery</a>
    </div>
</section> *@