@model NEXT_BMS.ViewModels.LoginViewModel
@{ 
    Layout = "_Layout_Account";
}
<div class="row justify-content-center">
    <div class="col-lg-5">
        <div class="card">
            <div class="card-header py-2">
                <h4 class="text-left font-weight-light">
                    Login
                </h4>
                <p>
                    User user name and password to login
                </p>
            </div>
            <div class="card-body pt-2">
                <form asp-action="LogIn" asp-controller="Account">
                    <div class="form-floating mb-3">
                        <input asp-for="UserName" class="form-control" placeholder="User Name" />
                        <label asp-for="UserName">User Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Password" class="form-control" placeholder="Password" />
                        <label asp-for="Password">Password</label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />
                        <label class="form-check-label" for="inputRememberPassword">Remember Password</label>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                        <a class="small" asp-action="VerifyEmail" asp-controller="Account" class="text-body">
                            Forgot Password?
                        </a>
                        
                        <button class="btn-brand-teal" type="submit">
                            <i class="bi bi-key"></i>
                            Login
                        </button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center py-3">
                <div class="small"><a href="#">Need an account? Sign up!</a></div>
            </div>
        </div>
    </div>
</div>