@using Insya.Localization;
<div class="mb-3">
    <h6 class="mb-0 font-weight-semibold">
        @ViewData["action"] | @ViewData["pageName"]
    </h6>
    <span class="text-muted d-block">@ViewBag.PageDescription</span>
</div>

<div class="row">
    <div class="col-sm-6 col-xl-3">
        <div class="card card-body">
            <div class="media">
                <div class="mr-3 align-self-center">
                    <i class="icon-pointer icon-3x text-success"></i>
                </div>

                <div class="media-body text-right">
                    <h3 class="font-weight-semibold mb-0">0</h3>
                    <span class="text-uppercase font-size-sm text-muted">total Issued.</span>
                </div>
            </div>
        </div>

        @*<div class="card card-body bg-primary text-white has-bg-image">
            <div class="media">
                <div class="media-body">
                    <h3 class="mb-0">0</h3>
                    <span class="text-uppercase font-size-xs">total In Store</span>
                </div>

                <div class="ml-3 align-self-center">
                    <i class="icon-bubbles4 icon-3x opacity-75"></i>
                </div>
            </div>
        </div>*@
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card card-body">
            <div class="media">
                <div class="mr-3 align-self-center">
                    <i class="icon-enter6 icon-3x text-indigo"></i>
                </div>

                <div class="media-body text-right">
                    <h3 class="font-weight-semibold mb-0">0</h3>
                    <span class="text-uppercase font-size-sm text-muted">total visits</span>
                </div>
            </div>
        </div>

        @*<div class="card card-body bg-danger text-white has-bg-image">
            <div class="media">
                <div class="media-body">
                    <h3 class="mb-0">0</h3>
                    <span class="text-uppercase font-size-xs">total orders</span>
                </div>

                <div class="ml-3 align-self-center">
                    <i class="icon-bag icon-3x opacity-75"></i>
                </div>
            </div>
        </div>*@
    </div>

    <div class="col-sm-6 col-xl-3">
        @*<div class="card card-body">
            <div class="media">
                <div class="media-body">
                    <h3 class="font-weight-semibold mb-0">0</h3>
                    <span class="text-uppercase font-size-sm text-muted">total comments</span>
                </div>

                <div class="ml-3 align-self-center">
                    <i class="icon-bubbles4 icon-3x text-primary"></i>
                </div>
            </div>
        </div>*@

        <div class="card card-body bg-indigo text-white has-bg-image">
            <div class="media">
                <div class="mr-3 align-self-center">
                    <i class="icon-enter6 icon-3x opacity-75"></i>
                </div>

                <div class="media-body text-right">
                    <h3 class="mb-0">0</h3>
                    <span class="text-uppercase font-size-xs">total In Store</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-xl-3">
        <div class="card card-body">
            <div class="row text-center">
                <div class="col-4">
                    <p><i class="icon-users2 icon-2x d-inline-block text-info"></i></p>
                    <h5 class="font-weight-semibold mb-0">0</h5>
                    <span class="text-muted font-size-sm">users</span>
                </div>

                <div class="col-4">
                    <p><i class="icon-point-up icon-2x d-inline-block text-warning"></i></p>
                    <h5 class="font-weight-semibold mb-0">0</h5>
                    <span class="text-muted font-size-sm">clicks</span>
                </div>

                <div class="col-4">
                    <p><i class="icon-cash3 icon-2x d-inline-block text-success"></i></p>
                    <h5 class="font-weight-semibold mb-0">0</h5>
                    <span class="text-muted font-size-sm">revenue</span>
                </div>
            </div>
        </div>

    </div>
</div>

