@using Insya.Localization;
<div class="mb-3">
    <h6 class="mb-0 font-weight-semibold">
        @ViewData["action"] | @ViewData["pageName"]
    </h6>
    <span class="text-muted d-block">@ViewBag.PageDescription</span>
</div>

